<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>О нас</title>
</head>
<body>
    <h1>Новостной портал "Новостнячок"</h1>
    <p>Мы - команда профессионалов, стремящихся предоставить лучшие решения для наших клиентов.</p>

    <h4>Наша Миссия</h4>
    <p>Выкладывать самые свежие новинки в мире науки и технологий.</p>

    <h4>Наша Видение</h4>
    <p>Мы непредвзяты и относимся к новостям без политического уклона.</p>

    <h4>Контакты</h4>
    <p>Email: novosti@gmail.com</p>
    <p>Телефон: 88005553535</p>
    <p>Адрес: г.Златоуск ул. Крюкова д29 кв 52</p>
</body>
</html>